<div>
   <%= render partial: 'votes/voting', locals: { post: @sponsored_post } %>
   <h1>
      <%= @sponsored_post.title %> 
      <span style="color:red;">Sponsored</span>
      <br>
      <small>
         submitted <%= time_ago_in_words(@sponsored_post.created_at) %> ago by <%= @sponsored_post.user.name %>
      </small>
   </h1>
</div>

<div class="row">
   <div class="col-md-8">
      <p><%= @sponsored_post.body %></p>
      <% if user_is_authorized_for_post?(@sponsored_post) %>
         <div class="col-md-4">
            <%= link_to "Edit", edit_topic_sponsored_post_path(@sponsored_post.topic, @sponsored_post), class: 'btn btn-success' %>
            <%= link_to "Delete Post", [@sponsored_post.topic, @sponsored_post], method: :delete, class: 'btn btn-danger',data: {confirm: 'Are your sure you want to delete this post?'} %>
         </div>
      <% elsif moderator_authorized_for_post?(@sponsored_post) %>
         <div class="col-md-4">
            <%= link_to "Edit", edit_topic_sponsored_post_path(@sponsored_post.topic, @sponsored_post), class: 'btn btn-success' %>
         </div>
      <% end %>
      <div class="col-md-4">
         <h3>
            <%= pluralize(@sponsored_post.points, 'point') %>
            <div>
                  <small>
                     <%= pluralize(@sponsored_post.up_votes, 'up vote') %>,
                     <%= pluralize(@sponsored_post.down_votes, 'down vote') %>
                  </small>
            </div>
         </h3>
      </div>
      <div>
         <!--render comment using partial--!>
         <h3>Comments</h3>
         <%= render @sponsored_post.comments %>
      </div>
      <% if current_user %>
         <%= render 'comments/form', comment: Comment.new, post: @sponsored_post %>
      <% end %>
   </div>
</div>